doctype html
html
  head
    title Access Denied
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    style.
      h1 {
      color: red;
      }
      h6{
      color: red;
      text-decoration: underline;
      }
      h3{
        color: white
      }
  body(style='background-color: black') 
    
        
    .w3-display-middle
      h1.w3-jumbo.w3-animate-top.w3-center
        code Access Denied
      hr.w3-border-white.w3-animate-left(style='margin:auto;width:50%')
      h3.w3-center.w3-animate-right Bạn không có quyền truy cập trang này 
      h3.w3-center.w3-animate-zoom &#x1F6AB;&#x1F6AB;&#x1F6AB;&#x1F6AB;
      h6.w3-center.w3-animate-zoom error code:403 forbidden