extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
    .container
      .form-container 
        +alertSuccess(success_msg)
        +alertError(error_msg)
        .card-body
          h2.card-title.mb-4.text-center  Thêm tài khoản
          form("" method="POST" enctype="multipart/form-data" )
            // Title
            .form-group
              label(for='title') Họ và tên 
              input#title.form-control(type='text', name='fullName', required='') 
            .form-group
              label(for='description') Mô tả
              textarea#description.form-control(name='description', rows='3')
            // Avatar
            .form-group
              label(for='avatar') avatar
              input#avatar.form-control(type='file', name='avatar' inp-preview) 
              img(src="", alt="" img-preview style="width: 50px; height: 50px" ).d-none
            .form-group
              label(for='email') email
              input#email.form-control(type='email', name='email')
            .form-group
              label(for='phone') Số điện thoại 
              input#phone.form-control(type='text', name='phone') 
            .form-group
              label(for='password') Mật khẩu  
              input#password.form-control(type='password', name='password') 
            .form-group
              label(for='role_id') Nhóm quyền 
              select#singerId.form-control(name='role_id')
                option(value='') Chọn một Nhóm quyền 
                each item in roles 
                  option(value=item.id) #{item.title}
            .form-group
              label Giới tính 
              .form-check
                input#genderMale.form-check-input(type='radio', name='gender', value='Nam')
                label.form-check-label(for='statusActive')
                  | Nam
              .form-check
                input#genderFemale.form-check-input(type='radio', name='gender', value='Nữ')
                label.form-check-label(for='statusInactive')
                  | Nữ 
            .form-group
              label(for='avatar') Ngày Sinh 
              input#birthDate.form-control(type='date', name='birthDate') 
            
            .form-group
              label Trạng thái  
              .form-check
                input#statusActive.form-check-input(type='radio', name='status', value='active', checked='')
                label.form-check-label(for='statusActive')
                  | Active
              .form-check
                input#statusInactive.form-check-input(type='radio', name='status', value='inactive')
                label.form-check-label(for='statusInactive')
                  | Inactive
            // Submit Button
            button.btn.btn-primary.btn-block(type='submit') Submit