header.p-3.mb-3.border-bottom
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none(href='/')
            img.bi.me-2(src='https://cdn1.iconfinder.com/data/icons/google-products/512/6_Google_Play_Music_Google_Product_Logo_Brand-512.png', width='50', height='42', alt='')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2.link-secondary(href='/') Trang chủ
            li
              a.nav-link.px-2.link-dark(href='/topics') Chủ đề  
            li
              a.nav-link.px-2.link-dark(href='/singer') Ca sĩ
            li
              a.nav-link.px-2.link-dark(href='#') Về chúng tôi  
            li
              a.nav-link.px-2.link-dark(href='/songs/favorite') Yêu thích 
          form(action="/search/result" method="GET").col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3
            input.form-control(type='search', placeholder='Tìm kiếm...',inp-search aria-label='Search' name='keyword' style='width: 250px' value=keyword) 
            #suggestions.suggestions
          span #{infoUser.fullName ? infoUser.fullName : "Guest"}
            .dropdown.text-end
              a#dropdownUser1.d-block.link-dark.text-decoration-none.dropdown-toggle(href='/user/profiles', data-bs-toggle='dropdown', aria-expanded='false')
                img.rounded-circle(src=`${infoUser.avatar ? infoUser.avatar : "/images/profile_3.png"}`, alt='mdo', width='32', height='32')
              